* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



body {
    background-image: url('https://i.postimg.cc/G3f4RYss/ex001.jpg');
    background-size: cover;
}

.logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: 0.3;
    border-radius: 50px;
}


.screen{
    display: flex;
    flex-direction: column;

}

.convert{
    background-color: rgba(229, 229, 229, 0.5);
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    display: flex;
    width: 50vw;
    border-radius: 25px;
    margin-top: 10px;

}

.convert-2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(229, 229, 229, 0.5);
    width: 35%;
    justify-content: space-between;
    padding: 10px;
    border-radius: 25px;

}


.conteudo{
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: 400;

    font-size: 14px;
}
button {
    width: 327px;
    height: 30px;
    background: rgba(119,  47, 211, 0.9);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    

}

button:hover {
    opacity: 0.6;


}

button:active{
    background: rgb(240,224,29);
background: linear-gradient(90deg, rgba(240,224,29,1) 0%, rgba(255,249,102,1) 45%, rgba(190,166,0,1) 85%);
}


    select{

        border: 1px solid #BBBBBB;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: px;
        height: 25px;
    }

.vector{
    rotate: 270deg;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

input{
    width: 7vw;
}
    
    

